
<form action="https://docs.google.com/forms/d/e/1FAIpQLSc5fh2JIUzl4p5rnY_FoI1-PonPYyKVoH2M9_VgGZuB0ua_4A/formResponse"
      target="_self"
      id="bootstrapForm"
      method="POST">
    <fieldset>
        <h2>Registration2019<br><small>(20. 9. 2019 - 24. 9. 2019). </small></h2>
    </fieldset>


    <!-- Field type: "image" id: "1415425539" -->
    <fieldset>
        <legend for="1415425539">Hotel Zornička, Donovaly</legend>
        <div class="form-group">
                <img src="https://lh4.googleusercontent.com/_IbQoOBMj8uPnx2bnccZcTqV2mJFBhXtY_hzry0zypmLhh80QFfUtU2-b8ibjaiPF-WvZhQsxQmwDwJVe7CSdDQmYsTcO7bda5_NT3tFmhlHGIrB_SnFPLxwKF0F&#x3D;w1434" style="max-width: 100%;">
        </div>
    </fieldset>


    <!-- Field type: "title" id: "1842916906" -->
    <fieldset>
        <legend for="1842916906">Registration details</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1953894720" -->
    <fieldset>
        <legend for="1953894720">Name</legend>
        <div class="form-group">
            <input id="1889737924" type="text" name="entry.1889737924" class="form-control" required>
        </div>
    </fieldset>



    <fieldset>
        <legend for="2064509094">Surname</legend>
        <div class="form-group">
            <input id="306105573" type="text" name="entry.306105573" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "767976889" -->
    <fieldset>
        <legend for="767976889">Email</legend>
        <div class="form-group">
            <input id="1386388063" type="text" name="entry.1386388063" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1906167401" -->
    <fieldset>
        <legend for="1906167401">Organisation</legend>
        <div class="form-group">
            <input id="59838477" type="text" name="entry.59838477" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1905466075" -->
    <fieldset>
        <legend for="1905466075">Address</legend>
        <div class="form-group">
            <input id="541684489" type="text" name="entry.541684489" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "704356286" -->
    <fieldset>
        <legend for="704356286">Company registration number</legend>
        <div class="form-group">
            <input id="1873983423" type="text" name="entry.1873983423" class="form-control" >
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1290164368" -->
    <fieldset>
        <legend for="1290164368">VAT identification number</legend>
        <div class="form-group">
            <input id="1982261381" type="text" name="entry.1982261381" class="form-control" >
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1600738487" -->
    <fieldset>
        <legend for="1600738487">We offer two registration variants: A &#x3D; full conference, B &#x3D; 2 nights. Student registration is available for both variants. (From 2nd August 2019)</legend>
        <div class="form-group">
            <p class="help-block">-&gt; Note: Workshop registrations are available only during the worshops days. The program of workshop CIDM is scheduled 4 days.</p>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="Full conference - Full registration: 360 € (fee + digital almanac + coffee breaks + accommodation + full board during the whole conference)" required>
                    Full conference - Full registration: 360 € (fee + digital almanac + coffee breaks + accommodation + full board during the whole conference)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="Full conference - Student registration: 305 € (fee + digital almanac + coffee breaks + accommodation + full board during the whole conference)" required>
                    Full conference - Student registration: 305 € (fee + digital almanac + coffee breaks + accommodation + full board during the whole conference)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="Full conference - Student registration - student presenting paper: 235 € (fee + digital almanac + coffee breaks + accommodation + full board during the whole conference)" required>
                    Full conference - Student registration - student presenting paper: 235 € (fee + digital almanac + coffee breaks + accommodation + full board during the whole conference)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="Computational Intelligence and Data Mining (4 days) - Full registration: 360 € (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)" required>
                    Computational Intelligence and Data Mining (4 days) - Full registration: 360 € (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="Computational Intelligence and Data Mining (4 days)  - Student registation: 305 € (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)" required>
                    Computational Intelligence and Data Mining (4 days)  - Student registation: 305 € (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="Computational Intelligence and Data Mining (4 days)  - Student registation - student presenting paper: 235 € (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)" required>
                    Computational Intelligence and Data Mining (4 days)  - Student registation - student presenting paper: 235 € (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="CZ-SK NLP workshop - Full registration 250€ (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)" required>
                    CZ-SK NLP workshop - Full registration 250€ (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="CZ-SK NLP workshop  - Student registration 200€ (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)" required>
                    CZ-SK NLP workshop  - Student registration 200€ (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="CZ-SK NLP workshop  - Student registration - student presenting paper 130€ (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)" required>
                    CZ-SK NLP workshop  - Student registration - student presenting paper 130€ (fee + digital almanac + coffee breaks + accommodation + full board for 2 nights)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="Intelligent speech and audio technologies workshop- Full registration: 250€ (fee + digital almanac + coffee breaks + banket + accommodation + full board for 2 nights)" required>
                    Intelligent speech and audio technologies workshop- Full registration: 250€ (fee + digital almanac + coffee breaks + banket + accommodation + full board for 2 nights)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="Intelligent speech and audio technologies workshop  - Student registration 200€ (fee + digital almanach + coffee breaks + banket + accommodation + full board for 2 nights)" required>
                    Intelligent speech and audio technologies workshop  - Student registration 200€ (fee + digital almanach + coffee breaks + banket + accommodation + full board for 2 nights)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1471497038" value="Intelligent speech and audio technologies workshop  - Student registration - student presenting paper 130€ (fee + digital almanach + coffee breaks + banket + accommodation + full board for 2 nights)" required>
                    Intelligent speech and audio technologies workshop  - Student registration - student presenting paper 130€ (fee + digital almanach + coffee breaks + banket + accommodation + full board for 2 nights)
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "648827847" -->
    <fieldset>
        <legend for="648827847">Payment method</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.751080842" value="cash (upon registration)" required>
                    cash (upon registration)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.751080842" value="Bank transfer (bank account: 2628717743/1100 (Tatra banka, a.s. Hodžovo namestie 3, 811 06 Bratislava), IBAN SK50 1100 0000 0026 2871 7743, SWIFT: TATR SK BX (Slovenská spoločnosť pre umelú inteligenciu (SAIS), Letná 9, 040 00 Košice). Please, after the bank transfer, send us the confirmation of payment to peter.gursky@upjs.sk." required>
                    Bank transfer (bank account: 2628717743/1100 (Tatra banka, a.s. Hodžovo namestie 3, 811 06 Bratislava), IBAN SK50 1100 0000 0026 2871 7743, SWIFT: TATR SK BX (Slovenská spoločnosť pre umelú inteligenciu (SAIS), Letná 9, 040 00 Košice). Please, after the bank transfer, send us the confirmation of payment to peter.gursky@upjs.sk.
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "dropdown" id: "737117315" -->
    <fieldset>
        <legend for="737117315">Time of arrival</legend>
        <div class="form-group">
            <p class="help-block">Food related question. Workshops start with dinner and end with breakfast. If you choose an earlier arrival or a later departure, the additional food will be priced.</p>
            <select id="737117315" name="entry.1721886175" class="form-control">
                <option value="20. 9. (Friday) - start with dinner">20. 9. (Friday) - start with dinner</option>
                <option value="21. 9. (Saturday) - start with breakfast">21. 9. (Saturday) - start with breakfast</option>
                <option value="21. 9. (Saturday) - start with lunch">21. 9. (Saturday) - start with lunch</option>
                <option value="21. 9. (Saturday) - start with dinner">21. 9. (Saturday) - start with dinner</option>
                <option value="22. 9. (Sunday) - start with breakfast">22. 9. (Sunday) - start with breakfast</option>
                <option value="22. 9. (Sunday) - start with lunch">22. 9. (Sunday) - start with lunch</option>
                <option value="22. 9. (Sunday) - start with dinner">22. 9. (Sunday) - start with dinner</option>
                <option value="23. 9. (Monday) - start with breakfast">23. 9. (Monday) - start with breakfast</option>
                <option value="23. 9. (Monday) - start with lunch">23. 9. (Monday) - start with lunch</option>
                <option value="23. 9. (Monday) - start with dinner">23. 9. (Monday) - start with dinner</option>
            </select>
        </div>
    </fieldset>


    <!-- Field type: "dropdown" id: "1225017407" -->
    <fieldset>
        <legend for="1225017407">Time of departure</legend>
        <div class="form-group">
            <p class="help-block">Food related question.</p>
            <select id="1225017407" name="entry.66680823" class="form-control">
                <option value="21. 9. (Saturday) - end with breakfast">21. 9. (Saturday) - end with breakfast</option>
                <option value="21. 9. (Saturday) - end with lunch">21. 9. (Saturday) - end with lunch</option>
                <option value="21. 9. (Saturday) - end with dinner">21. 9. (Saturday) - end with dinner</option>
                <option value="22. 9. (Sunday) - end with breakfast">22. 9. (Sunday) - end with breakfast</option>
                <option value="22. 9. (Sunday) - end with lunch">22. 9. (Sunday) - end with lunch</option>
                <option value="22. 9. (Sunday) - end with dinner">22. 9. (Sunday) - end with dinner</option>
                <option value="23. 9. (Monday) - end with breakfast">23. 9. (Monday) - end with breakfast</option>
                <option value="23. 9. (Monday) - end with lunch">23. 9. (Monday) - end with lunch</option>
                <option value="23. 9. (Monday) - end with dinner">23. 9. (Monday) - end with dinner</option>
                <option value="24. 9. (Tuesday) - end with breakfast">24. 9. (Tuesday) - end with breakfast</option>
            </select>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1651970677" -->
    <fieldset>
        <legend for="1651970677">T-shirt size</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1561061844" value="S" required>
                    S
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1561061844" value="M" required>
                    M
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1561061844" value="L" required>
                    L
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1561061844" value="XL" required>
                    XL
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1561061844" value="XXL" required>
                    XXL
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "title" id: "1195539428" -->
    <fieldset>
        <legend for="1195539428">Extra payments</legend>
        <div class="form-group">
            <p class="help-block">The single-bed rooms are sold out now. In case of serious interest, we can reserve accommodation in a single room in the cottage Martinské hole.</p>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1232559195" -->
    <fieldset>
        <legend for="1232559195">Extra payments</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1683505651" value="single bed rooms +70 eur, only for full registration" >
                    single bed rooms +70 eur, only for full registration
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1216575193" -->
    <fieldset>
        <legend for="1216575193">Accommodation for your companion?</legend>
        <div class="form-group">
            <p class="help-block">Accommodation, coffee breaks and full board. If your companion are children, please write the age of children to mail: peter.gursky@upjs.sk in order to arrange other details.</p>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.94519057" value="yes, for 1 night [+50€] (lunch, dinner and breakfast for the next day)" required>
                    yes, for 1 night [+50€] (lunch, dinner and breakfast for the next day)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.94519057" value="yes, for 2 nights [+45€/night]" required>
                    yes, for 2 nights [+45€/night]
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.94519057" value="yes, for 3 nights [+45€/night]" required>
                    yes, for 3 nights [+45€/night]
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.94519057" value="yes, for 4 nights [+195€] (during the whole conference)" required>
                    yes, for 4 nights [+195€] (during the whole conference)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.94519057" value="no" required>
                    no
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1057701126" -->
    <fieldset>
        <legend for="1057701126">Banket for your companion? </legend>
        <div class="form-group">
            <p class="help-block">Entry for the banket (whole night - dinner and entertainment) - Sunday 22.9.2019</p>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.647519397" value="yes [+15€]" required>
                    yes [+15€]
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.647519397" value="no" required>
                    no
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "507328317" -->
    <fieldset>
        <legend for="507328317">Would you like to buy another T-shirt ?</legend>
        <div class="form-group">
            <p class="help-block">Please enter the number of T-shirts [+5€ each]. If needed state the T-shirt sizes and counts. Additional T-shirts are payed for at registration in cash.</p>
            <input id="897572591" type="text" name="entry.897572591" class="form-control" >
        </div>
    </fieldset>


    <!-- Field type: "title" id: "910695678" -->
    <fieldset>
        <legend for="910695678">Special requests</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "317146376" -->
    <fieldset>
        <legend for="317146376">Do you have special requests regarding the food?</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1247042831" value="no" required>
                    no
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1247042831" value="vegetarian diet" required>
                    vegetarian diet
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1247042831" value="vegan diet" required>
                    vegan diet
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1247042831" value="gluten-free diet" required>
                    gluten-free diet
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1247042831" value="__other_option__" required>
                </label>
                <input type="text" name="entry.1247042831.other_option_response" placeholder="custom value">
            </div>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "992015981" -->
    <fieldset>
        <legend for="992015981">Room for your notes.</legend>
        <div class="form-group">
            <input id="1338540575" type="text" name="entry.1338540575" class="form-control" >
        </div>
    </fieldset>


    <!-- Field type: "title" id: "1407880027" -->
    <fieldset>
        <legend for="1407880027"></legend>
        <div class="form-group">
            <p class="help-block">You will recieve a confirmation email after submitting the registration form. This email contains some registration details. In case of any problems regarding this email, please contact us at  lubomir.antoni@upjs.sk</p>
        </div>
    </fieldset>



    <input class="btn btn-primary" type="submit" value="Submit">
</form>
