body {
    padding: 20px;
    background: rgb(129, 226, 250);
}

#star {
    color: red;
}
#redtext{
    color: red;
}
#invalidtext {
    font-size: 0.75rem;
    color: red;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
    background: #EAEAEA;
}

.form-group{
    margin-bottom: 50px;
}